:root {
  font-size: 24px;
  color: rgb(231, 179, 144);
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
}

.content {
  height: 100vh;
  background-image: url(./images/orange-planet.jpg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 20vw;
}

.branding {
  display: flex;
  justify-content: center;
}





.right {
  height: 100vh;
  background-color: rgb(22, 22, 87, .8);
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content {
  padding: 3rem 12rem 3rem 1rem;
  background-color: rgb(22, 22, 87, 1);
  box-shadow: 0 .5rem .8rem #000;

}



p {
  font-size: .8rem;
  margin: 1rem 0;
}

h1 {
  font-size: 1.2rem;
}

.form.container {
  padding-left: 1rem;
  display: grid;
}